/* section {
  display: flex;
  justify-content: space-between;
} */

:root {
  --heading: rgb(0 10 45);
  --para: #777777;
  --para-tint: #e4e4e4;
  --third: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}

div {
  /* background-color: rgb(236, 227, 241); */
}

.back {
  /* display: flex;
  justify-content: center;
  margin-left: -11px; */
}

.firstSection {
  /* background-color: rgb(236, 227, 241); */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-height: 60vh; */

  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  gap: 77px;
  max-height: 60vh;
  width: auto; */

  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  /* background-color: #f5f5f5; */
}

/* * {
  outline: 1px solid red;
} */

.welcome {
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 500;
  color: gray;
}

/* .secondSection {
}

.left {
}

.right {
} */

.purple {
  color: rgb(125, 15, 228);
}

.head {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 32px;
  font-style: normal;
  color: black;
}

* {
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  justify-content: space-between !important;
  align-items: flex-start;
  max-width: 100%;
  margin: auto;
  gap: 5rem;
  flex-wrap: wrap;
  height: 25rem;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
  max-width: 600px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.containerImg {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.img-fluid {
  width: 100%;
  height: 20rem;
  height: auto;
  display: block;
  border-radius: 20px;
  /* box-shadow: 0 2rem 2rem -2rem rgba(0,0,0,0.2); */
}

.imgSize {
  /* max-width: 400px; */
  width: 100%;
  height: 24rem !important;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: -2px 0rem 1rem 0rem rgba(39, 39, 39, 0.2);
  display: block;
  margin: auto;
  object-fit: contain;
  padding: 15px;
}

/* .img-background{
  border: 2px solid violet;
  background-color: violet;
} */

/* .imgSize {
  margin-top: 7rem;
  width: 25rem;
  height: 28rem;
  border-radius: 30px;
  box-shadow: -2rem 2rem 3rem -2rem;
} */

.button-wrapper {
  /* margin-top: 3rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.button {
  /* margin-bottom: 30px; */
  /* margin-left: 25px; */
  /* padding: 10px 15px 10px 15px; */
  padding: 13px;
  width: 22rem;
  /* padding: 0.5rem, 1rem; */
  border: none;
  border-radius: 26px;
  background-color: rgb(125, 15, 228);
  color: #ffff;
  font-size: 1rem;
  /* flex: 1 1 30%; */
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.6s ease-out;
}

.button:hover {
  cursor: pointer;
  font-size: 17px;
  color: rgb(125, 15, 228);
  background-color: #ffff;
  border: 1px solid rgb(125, 15, 228);
}

.common-heading {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: capitalize;
  position: relative;
}

.common-heading::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--helper);
}

.common-heading::after {
  content: "";
  position: absolute;
  top: 128%;
  left: 1.5rem;
  width: 30%;
  height: 0.3rem;
  background: var(--helper);
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.section-services p {
  max-width: 60rem;
}

.section-services .grid {
  margin-top: 2rem;
  row-gap: 5rem;
}

.section {
  margin-bottom: 40px;
}

.service-box {
  /* margin-left: 1.5rem; */
  border: 1px solid black;
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 15px;
  padding: 6.4rem 3.4rem;
  transition: all 0.2s linear;
  background-color: #f5f5f5;
  cursor: pointer;
}

.service-box:hover {
  transform: translateY(-1.5rem);
  background-color: #e4e1e1;
  /* box-shadow: var(--shadow); */
}

.serive-icon {
  width: 8rem;
  height: 7rem;
  background-color: rgba(182, 247, 61, 0.2);
  display: inline-block;
  border-radius: 50% 40% 65% 25% / 25% 50% 40% 65%;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
  border: 2px solid black;
}

.serive-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(11, 15, 20, 0.9);
  width: 90%;
  height: 90%;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  background-color: transparent;
  animation: water-wave 5s linear infinite alternate;
}

.cups {
  font-size: 2rem;
  font-weight: 800;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  margin-top: 10px;
}

.grid {
  display: grid;
  gap: 5rem;
}

.gridNumb {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  font-size: large;
  font-weight: 600;
}

.numberHeading {
  color: #ffff;
}

.grid-three-col {
  grid-template-columns: repeat(3, 1fr);
}

.subHead {
  font-weight: 700;
  font-size: large;
}

.services-offered {
  /* font-weight: 400;
  font-size: 24px; */
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: x-large;
  font-style: normal;
  color: black;
}

.elements {
  font-size: 2rem;
}

/*    MEDIA QUERIES LIST 

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV


*/

/* If the browser window is 1201px or bigger  */
@media (min-width: 75rem) {
  .container {
    max-width: 130rem;
  }
  .navbar-lists {
    gap: 3.4rem;
  }

  .button-wrapper {
    margin-left: 2rem;
  }
}

/* If the browser window is 1200px or smaller  */
@media (max-width: 75rem) {
  .container {
    max-width: 110rem;
  }
  .navbar-lists {
    gap: 3.4rem;
  }

  .button-wrapper {
    margin-left: 2rem;
  }
}

/* If the browser window is 1024px or smaller */
@media (max-width: 64rem) {
  /*   1em = 16px   */
  .container {
    /* to make all the container with same padding  */
    padding: 2rem;
  }

  .content-wrapper {
    gap: 0rem !important;
  }

  .left.my-4.ml-4.mt-4.head {
    /* margin-top: 5rem !important; */
  }

  html {
    font-size: 56.25%;
  }

  /* when we are in 980px we need to show the menu open icon */
  .mobile-navbar-btn {
    display: block;
    /* background-color: #212529; */
    z-index: 99999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
    /* height: 3.4rem; */
  }

  .navbar {
    width: 100%;
    height: 100%;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-lists {
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar-lists .navbar-link:link,
  .navbar .navbar-lists .navbar-link:visited {
    color: #212529;
    font-size: 3.2rem;
  }

  .active .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 9999;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* hero section  */

  .section-hero h1 {
    line-height: 1.05;
  }

  /* section bidoata  */
  .section-biodata .grid {
    gap: 3rem;
  }

  /* section work  */
  .section-work-data .common-numbers {
    font-size: 3.2rem;
  }

  /* services section  */

  .section-services .grid {
    gap: 6rem;
  }

  .section-services .grid-three-col {
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  /* resume section  */
  .section-resume .grid-two-col {
    grid-template-columns: 1fr;
  }

  .section-resume .grid-two-col img {
    width: 50%;
  }
  .resume-img {
    grid-row: 2;
    transform: translateY(-2rem);
  }

  /* testimonial section  */
  .section-testimonial .grid-three-col {
    grid-template-columns: 2fr;
  }

  .section-footer .grid-four-col {
    grid-template-columns: 1fr 1fr;
  }
}

/* If the browser window is 768px or smaller */
@media (max-width: 48rem) {
  /*  1em = 16px   */

  .back {
    max-width: 100% !important;
  }

  .content-wrapper {
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 0rem !important;
    /* padding: 2rem 4rem; */
    /* max-width: 100%;
    height: 25rem;*/
  }

  /* .content-wrapper {
  display: flex;
  justify-content: space-around !important;
  align-items: flex-start;
  max-width: 100%;
  margin: auto;
  gap: 5rem;
  flex-wrap: wrap;
  height: 25rem;
} */

  .left,
  .right {
    flex: 1;
  }

  .left {
    text-align: left;
    max-width: 100%;
    /* flex: 1 1 60% !important; */
  }

  .right img {
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }

  /* .left,
  .right {
    flex: 1 1 100%;
  } */

  /* .imgSize { */
  /* position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 20rem;
    height: 15rem; */
  /* top: 20px; */

  /* width: 100%;
    height: 22rem !important;
    max-width: 250px;
    height: auto;
    border-radius: 20px;
    box-shadow: -2px 0rem 1rem 0rem rgba(39, 39, 39, 0.2);
    display: flex;
    justify-content: center;
    margin-left: 0px !important;
  } */

  .button-wrapper {
    justify-content: center;
    margin-top: 0.5rem;
    margin-left: 0;
  }

  .button {
    flex: 1 1 100%;
    max-width: 250px;
  }
  /* .left.my-4.ml-4.mt-4.head {
    margin-top: 5rem !important;
  } */

  .container {
    max-width: 720px;
  }
  /* hero section  */
  .section-hero .grid-two-col {
    grid-template-columns: 1fr;
  }

  .section-hero-data {
    align-items: center;
  }

  .section-hero-data .hero-top-data {
    /* align-self: flex-start; */
  }

  .hero-heading {
    text-align: center;
  }
  .hero-para {
    text-align: center;
    margin-top: 2rem;
  }

  .section-hero img {
    width: 70%;
  }

  /* work section  */
  .section-portfolio .grid-three-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-services .grid-three-col {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .numberHeading {
    padding: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 727px) {
  .button-wrapper {
    margin-top: 3rem;
  }
}

@media (max-width: 663px) {
  .button-wrapper {
    margin-top: 25rem;
    margin-left: 0;
  }
}

@media (max-width: 617px) {
  .button-wrapper {
    margin-top: 25rem;
    margin-left: 0;
  }

  .numberHeading {
    padding: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* If the browser window is 480px or smaller */
@media (max-width: 30rem) {
  /*  43em = 688px  */
  .header {
    padding: 0 3.2rem;
  }

  .header .logo {
    width: 60%;
  }

  .content-wrapper {
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* padding: 2rem 4rem; */
    /* max-width: 100%;
    height: 25rem;*/
    gap: 0rem !important;
  }

  /* .content-wrapper {
  display: flex;
  justify-content: space-around !important;
  align-items: flex-start;
  max-width: 100%;
  margin: auto;
  gap: 5rem;
  flex-wrap: wrap;
  height: 25rem;
} */

  .left,
  .right {
    flex: 1;
  }

  .left {
    text-align: left;
    max-width: 90%;
    /* flex: 1 1 60% !important; */
  }

  .right img {
    max-width: 220px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }

  /* .imgSize {
    width: 20rem;
    height: 20rem;
  } */

  /* secion .bio-data */

  .section-biodata .grid-two-col {
    grid-template-columns: 1fr;
  }

  .section-biodata .bio-image {
    grid-row: 2;
    margin-top: 3.2rem;
  }

  /* work section  */
  /* .section-work-data .grid-four-col {
    grid-template-columns: 1fr 1fr;
  } */

  /* services section  */
  .section-services .grid-three-col {
    grid-template-columns: 1fr;
  }

  .button-wrapper {
    /* margin-top: 3rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-left: 0;
  }

  .button {
    /* margin-bottom: 30px; */
    /* padding: 10px 15px 10px 15px; */
    /* padding: 0.5rem, 1rem; */
    margin-left: 5px;
    padding: 13px;
    border: none;
    border-radius: 26px;
    background-color: rgb(125, 15, 228);
    color: #ffff;
    font-size: 1rem;
    /* flex: 1 1 30%; */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.6s ease-out;
  }

  .button:hover {
    cursor: pointer;
    font-size: 13px;
    color: rgb(125, 15, 228);
    background-color: #ffff;
    border: 1px solid rgb(125, 15, 228);
  }

  .firstSection {
    padding: 1.5rem;
  }

  .numberHeading {
    display: grid;
    padding: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 573px) {
  .button-wrapper {
    margin-top: 28rem;
  }
}

@media (max-width: 565px) {
  .common-heading {
    font-size: 3rem;
  }

  .container {
    padding: 1rem 1.5rem 0 1.5rem;
  }

  .numberHeading {
    display: grid;
    padding: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 566px) {
  .button-wrapper {
    padding: 0.5rem;
  }

  .numberHeading {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* @media (max-width: 466px) {
  .common-heading {
    font-size: 2.75rem;
  }

  .container {
    padding: 1rem;
  } 
}*/

/* ===========================================
work data Section
======================================= */
.section-work-data {
  background: -webkit-linear-gradient(
    0deg,
    rgb(207, 174, 235) 0%,
    rgb(133, 38, 120) 100%
  );
  color: var(--third);
  text-align: center;
  display: flex;
  justify-content: center;
}

.common-numbers {
  font-size: 4.8rem;
}

.section-work-data p {
  color: var(--third);
}
