<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="ab2.png" alt="Profile Picture" class="img-fluid profile-picture">
            </div>
            <div class="col-md-8 mt-4">
                <div class="about">About <span class="my-ab">Me</span></div>
                <br>
                <!-- <div class="para"> -->
                <ul class="para">
                    <li>
                        Welcome to my portfolio!
                    </li>
                    <br>
                    <li>
                        I am a frontend web developer with more than three and half years of experience in building dynamic and
                        responsive web applications.
                    </li>
                    <br>
                    <li>
                        My expertise includes HTML5, CSS3, TypeScript, JavaScript, Angular, Bootstrap, and Tailwind CSS.
                    </li>
                    <br>
                    <li>
                        I thrive on creating seamless user experiences and efficient, scalable code.
                    </li>
                    <br>
                    <li>
                        Currently, I work at Wipro as a Frontend Developer, where I contribute to innovative projects using different versions
                        of Angular.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>

    <!-- ======================================== 
         freelancing Section   
    ========================================  -->

    <section class="section section-freelancer mt-5">
        <!-- <img src="3.jpg"> -->
        <div class="overlay"></div>
        <div class="container">
        <h2 class="free">I am also<span class="available"> available </span> for freelancing</h2>
        <p class="open">Open to work on freelance opportunities and eager to collaborate on innovative web development projects, offering flexible and tailored solutions to meet diverse client needs.</p>
        </div>
      </section>

    <div class="about tech">Tech Stack Knowledge
        <div class="my-ab">and Experience</div>
    </div>
    <div class="sectionTwo">
        <div class="labels">
            HTML 5 <img src="html.png" alt="HTML 5" width="35">
        </div>
        <div class="progress pgBar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar progress-bar-striped back" style="width: 80%">80%</div>
        </div>
        <br>
        <div class="labels">
            CSS 3 <img src="css.png" alt="CSS 3" width="38">
        </div>
        <div class="progress pgBar" role="progressbar" aria-label="Success example" aria-valuenow="72" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar progress-bar-striped back" style="width: 72%">72%</div>
        </div>
        <br>
        <div class="labels">
            JavaScript &nbsp; <img src="js.png" alt="JavaScript" width="24">
        </div>
        <div class="progress pgBar" role="progressbar" aria-label="Success example" aria-valuenow="67" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar progress-bar-striped back" style="width: 67%">67%</div>
        </div>
        <br>
        <div class="labels">
            Typescript &nbsp;<img src="ts.png" alt="TypeScript" width="24">
        </div>
        <div class="progress pgBar" role="progressbar" aria-label="Success example" aria-valuenow="70" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar progress-bar-striped back" style="width: 70%">70%</div>
        </div>
        <br>
        <div class="labels">
            Bootstrap  &nbsp; <img src="boot.png" alt="Bootstrap" width="28">
        </div>
        <div class="progress pgBar" role="progressbar" aria-label="Success example" aria-valuenow="76" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar progress-bar-striped back" style="width: 76%">76%</div>
        </div>
        <br>
        <div class="labels">
            Angular <img src="angular.png" alt="Angular" width="35">
        </div>
        <div class="progress pgBar" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar progress-bar-striped back" style="width: 80%">80%</div>
        </div>
        <br>
        <div class="labels">
            Tailwind CSS &nbsp; <img src="tail.png" alt="Tailwind CSS" width="100">
        </div>
        <div class="progress pgBar" role="progressbar" aria-label="Success example" aria-valuenow="77" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar progress-bar-striped back" style="width: 77%">77%</div>
        </div>
        <br>
        <div class="labels">
            RESTful API Integration &nbsp; <img src="api.png" alt="API" width="30">
        </div>
        <div class="progress pgBar" role="progressbar" aria-label="Success example" aria-valuenow="88" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar progress-bar-striped back" style="width: 88%">88%</div>
        </div>
        <br>
        <div class="labels">
            GIT Version Control System  &nbsp; <img src="git.png" alt="GIT" width="30">
        </div>
        <div class="progress pgBar" role="progressbar" aria-label="Success example" aria-valuenow="70" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar progress-bar-striped back" style="width: 70%">70%</div>
        </div>
        <br>
        <br>
        <br>
    </div>
</section>